* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--Blue-light-25, #f5fbff);
}

.main {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
}

.page-change {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.home-page {
  color: var(--Gray-600, #848484);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.course-online {
  color: var(--Gray-600, #848484);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.pactice-test {
  color: var(--Gray-600, #848484);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.course {
  color: var(--Gray-800, #3d3d3d);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.title {
  color: var(--Gray-800, #3d3d3d);
  font-family: "FS PF BeauSans Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 24px;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px;
}

.container-exam {
  display: flex;
  flex-direction: column;
  width: calc(25% - 24px);
  padding: 24px;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--Gray-100, #ddd);
  background: var(--White, #fff);
}

.container-exam p {
  color: var(--Gray-700, #676767);
  font-family: "FS PF BeauSans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.container-exam h2 {
  color: var(--Gray-800, #3d3d3d);
  font-family: "FS PF BeauSans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 8px;
}

.people-join {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
}

.people-join span {
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.time {
  display: flex;
  gap: 8px;
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
}

.time span {
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.btn-exam img {
  margin-top: 16px;
  display: flex;
  height: 50px;
  max-width: 236px;
  align-items: flex-start;
  align-self: stretch;
}

.btn-exam:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-exam:active {
  cursor: pointer;
  opacity: 0.5;
}

.modal-exam {
  display: flex;
  max-width: 563px;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.header-modal-exam {
  display: flex;
  justify-content: space-between;
}

.header-modal-exam-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-modal-exam-left p {
  color: var(--Gray-700, #676767);
  font-family: "FS PF BeauSans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.header-modal-exam-left h3 {
  color: var(--Gray-800, #3d3d3d);
  font-family: "FS PF BeauSans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.header-modal-exam-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.people-join-modal-exam {
  display: flex;
  align-items: center;
  gap: 8px;
}

.people-join-modal-exam span {
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.time-modal-exam {
  display: flex;
  align-items: center;
  gap: 8px;
}

.time-modal-exam span {
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.exam-structure {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Orange-500, #f37142);
  background: var(--Orange-25, #fff7f4);
}

.exam-structure p {
  color: var(--Orange-500, #f37142);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 4px;
}

.exam-section {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-bottom: 1px solid var(--Gray-100, #ddd);
}

.exam-section:last-child {
  border-bottom: none;
}

.exam-section p {
  color: var(--Gray-800, #3d3d3d);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.exam-included {
  display: flex;
  align-items: center;
  gap: 8px;
}

.exam-included span {
  color: var(--Gray-700, #676767);
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer-btn-modal-exam {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

#btn-return {
  max-width: 104px;
  height: 48px;
}

#btn-return:hover {
  cursor: pointer;
  opacity: 0.5;
}

#btn-join-exam {
  max-width: 152px;
  height: 50px;
}

#btn-join-exam:hover {
  cursor: pointer;
  opacity: 0.8;
}

.overlay {
  opacity: 0.6;
  background: var(--Color-Base-Opacity-80, rgba(16, 24, 40, 0.8));
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
