@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap");

@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../../fonts/FS-PFBeauSansPro/FS\ PFBeauSansPro-Regular.otf")
      format("woff2"),
    url("../../fonts/FS-PFBeauSansPro/FS\ PFBeauSansPro-Regular.ttf")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf")
      format("woff2"),
    url("../../fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -50%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.svg-container {
  width: 20px;
  height: 20px;
}

.but {
  display: flex;
  justify-content: space-between;
}
